.sign-up-info {
    color: rgb(109, 109, 109);
    font-weight: 400;
    font-size: 15px;
    opacity: .8;
    padding: 5% 0 4% 3%;
}

.input__block {
    margin: 0 4%;
}

.input__block1 {
    margin-bottom: 20px;
}

.input-name__header {
    @extend .lang__header;
    display: block;
    padding-bottom: 8px;
}

.input__block2 {
    display: flex;
    flex-wrap: wrap;
    column-gap: 6%;
    row-gap: 20px;
}

.input__sign-in {
    height: 35px;
    font-size: 14px;
    padding: 0 15px;
    cursor: pointer;
    @extend .border;
    color: rgb(109, 109, 109);
    background-color: transparent;
    position: relative;
}

.input__sign-in::placeholder {
    opacity: .6;
}

.indicator {
    padding-top: 3px;
    padding-left: 1%;
}

.input__sign-in + .indicator {
    position: absolute;
}

.input__sign-in:focus-within:invalid {
    outline: red solid 1px;
}

.input__sign-in:focus-within:valid {
    outline: green solid 1px;
}

.input__sign-in:invalid + .indicator::before {
    content: "✖";
    color: red;
  }
  
.input__sign-in:valid + .indicator::before {
    content: "✓";
    color: green;
}

.payment_block {
    margin: 8% 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    column-gap: 1%;
    row-gap: 8px;
}

.payment__label {
    @extend .border;
    color: rgb(109, 109, 109);
    width: 230px;
    padding: 22px 9%;

    &:hover {
        cursor: pointer;
    }

    @media(max-width: 540px){
        width: 145px;
    }
}

.card__fields {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2%;
    row-gap: 16px;
}

.expiry-date_input {
    width: 60%;
}

.card__field {
    margin-left: -75px;

    @media(max-width: 740px){
        margin-left: 0;
    }
}

.code-card_input {
   width: 40%;
}

.block__agree-order {
    display: flex;
    margin: 13% 4% 7% 4%;
    justify-content: flex-end;
    align-items: center;
}

.buttons {
    
}
