.upload__choose-file {
    display: none;
}

.header-name {
    color: rgb(109, 109, 109);
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
}

.upload__header {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.upload__header-extension {
    color: $font-color;
    font-size: 13px;
    padding-left: 1%;
    align-self: center;
}

.upload__button {
    @extend .border;
    padding: 1% 4%;
    margin: 5% 3%;
}

.upload__button-label {
    @extend .item__name;
}

.upload__button-label::before {
    @include icon("../assets/icons8-upload-to-cloud-24.png");
}

.upload__list {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;

    @media(max-width: 540px){
        margin-left: 0;
        margin-right: 0;
    }
}

.list__items {
    list-style-type: none;
}

.items__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
    @extend .lang__header;
}

.item1 {
    width: 47%;
    
    @media(max-width: 540px){
        width: 55%;
    }
}

.item2 {
    width: 20%;

    @media(max-width: 540px){
        width: 20%;
    }
}

.item3 {
    width: 28%;

    @media(max-width: 540px){
        width: 20%;
    }
}

.item4 {
    width: 5%;

    @media(max-width: 540px){
        width: 10%;
    }
}

.list__item {
    display: flex;
    justify-content: space-between;
}

.icon__doc {
    @media(max-width: 540px){
        width: 45%;
        overflow: hidden;
    }
}

.icon__doc::before {
    @include icon("../assets/icons8-document-24.png");

    @media(max-width: 540px){
        content: "";
    }
}

.item__file {
    @extend .item__name;
}

.item__button-trash {
    border: none;
    cursor: pointer;
    opacity: .7;
}
