.footer {
    margin: 2% 5% 2% 5%;
    background-color: #444961;
    border-radius: 0 0 10px 10px;
}

.footer__info {
    display: flex;
    padding: 5% 10%;
    column-gap: 8%;
    row-gap: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info:first-child {
    width: 35%;
    flex-grow: 1;
}

.info__header {
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    opacity: .8;
}

.info__text {
    padding-top: 7px;
    padding-left: 33px;
    font-size: 12px;
    color: white;
    opacity: .6;
    line-height: 18px;
    font-style: normal;
}

.text__social-ntw {
    display: flex;
    column-gap: 5px;
    align-items: center;
    text-decoration: none;
    color: white;
}

.text__social-networks-fcb::before {
   content: url(/assets/icons8-facebook-24.png);
}

.text__social-networks-tw::before {
    content: url(/assets/icons8-twitter-24.png);
}

.text__social-networks-lIn::before {
    content: url(/assets/icons8-linkedin-24.png);
}

.info__header::before {
    @include icon("/assets/icons8-heart-24.png");
}

.text__number {
    text-decoration: none;
    color: white;
}

.info__logo {
    padding-top: 15px;
}
